# Virtual environment
.venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# VS Code config
.vscode/

# Environment variable files
.env
*.env

# Python packaging
build/
dist/
*.egg-info/

# Logs
*.log

# SQLite databases (if using)
*.sqlite
*.db

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# macOS / Windows system files
.DS_Store
Thumbs.db
